@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-image: url('star.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  image-rendering: pixelated;
}

header{
  margin-top: 6px;
  background-image: url('beach.png');
  background-size:96% 100px;
  width: 96%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  border: blue 4px solid;
  position: relative;
}

.bemvindo{
  animation: float 5s ease-in-out infinite;
}

@keyframes float{
  0%{
    transform: translatey(0);
  }
  
  50%{
    transform: translatey(-12px);
  }
  
  100%{
    transform: translatey(0);
  }
}

.acessorio{
  transform: rotate(30deg);
  position: absolute;
  right: -5%;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.pixel1{
  background: linear-gradient(90deg, transparent, #7724d1, darkblue, #7724d1, transparent);
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.pixel1 img{
  width: 20px;
  height: 20px;
}

.introducao{
  margin: 8px 0 8px 0;
  height: max-height;
  width: max-height;
  padding: 30px;
  border: white 3px solid;
  border-radius: 40px;
  font-family: "ubuntu", "sans-serif";
  color: white;
  background: black;
  text-align:center;
}

.alerta{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0 0 0;
}

.titu{
  font-family: "press start 2p";
  background: linear-gradient(180deg, #de1d10, #ffad87);
  background-clip: text;
  color: transparent;
  font-size: 25px;
  /*-webkit-text-stroke: 2px darkred;*/
}

.alerta_block{
  display: flex;
  flex-direction: column;
  align-items: center;
}
