*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  background-image: url('star.jpg');
  display: flex;
  flex-direction: column;
  align-items: center;
  image-rendering: pixelated;
}

header{
  margin-top: 6px;
  background-image: url('beach.png');
  background-size:96% 100px;
  width: 96%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 20px;
  border: blue 4px solid;
  position: relative;
}

.bemvindo{
  animation: float 5s ease-in-out infinite;
}

@keyframes float{
  0%{
    transform: translatey(0);
  }
  
  50%{
    transform: translatey(-12px);
  }
  
  100%{
    transform: translatey(0);
  }
}

.acessorio{
  transform: rotate(30deg);
  position: absolute;
  right: -5%;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12px;
}

.pixel1{
  background: linear-gradient(90deg, transparent, blue, darkblue, blue, transparent);
  width: 100%;
  display: flex;
  justify-content: center;
  column-gap: 5px;
}

.pixel1 img{
  width: 20px;
  height: 20px;
}
